<!--<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>PDF.js Example</title>
		<script src="./pdf.js"></script>
		<script src="./pdfviewer.js"></script>
	</head>
	<body>
        <h1>Testing</h1>
		<canvas id="pdf"></canvas>
	</body>
</html>-->
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>PDF.js Example</title>
        <!-- <script src="/pdf.js"></script> -->

	</head>
	<body>
        <h1>Testing</h1>
		<canvas id="pdf"></canvas>
		
		<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.4.456/pdf.js"></script> -->
        <!-- <script src="pdfviewer.js"></script> -->
		<script src="{{ url_for('static', filename='js/pdf.js') }}" type="module"></script>
		<script src="{{ url_for('static', filename='js/pdfviewer.js') }}" type="module"></script>
	</body>
</html>